html{
    box-sizing: border-box;
}
*
*:before,
*::after{
    box-sizing: inherit;
}

.box{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    border: 5px solid darkorchid;
    padding: 10px;
    margin: 10px;
}
main{
    height: 350px;
}
a{
    visibility: hidden;
    width: 300px;
}
.container{
width: 500px;
margin: 0 auto;
border: 2px solid red;
}
img{
    width: 200px;
    float: right;
}
.containerTwo{
    border: 2px solid black;
    width: 600px;
    margin: 50px;
    position: relative;
  }
  .containerTwo div{
    width: 100px;
    height: 100px;
    border: 1px solid black;
  }
  .box1{
    background-color: mediumseagreen;
  }
  .containerTwo .box2{
    background-color: lightcoral;
    height: 120px;
    position: absolute;
    top: 10px;
    left: 20px;
  }
  .containerTwo .box3{
    background-color: cornflowerblue;
    height: 140px;
  }